body{
    /* margin: 0%; */
    /* padding: 0%; */
   background-color:black


 }
.nav{
  margin-left: 65%;
  display: inline;
  top:8%;

}
.nav ul a{
  overflow: hidden;
  float: right;
  background-color: rgb(40, 197, 9);
}
.nav li {
  float: right;
  color:white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: bold;
  list-style: none;
}
ul {
    list-style-type: none;
    top: 100px;
    overflow: hidden;
    position:sticky;
  }
  .line1{
    height: 1px;
    width: 100px;
    margin-left: 38%;
    margin-top:-1% ;
    color: green;
}
.line2{
  height: 1px;
  width: 100px;
  margin-left:55% ;
  margin-top:-2%;
  color: green;
}

li {
    float: right;

  }
  li a {

    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: bold;
    border: 2px solid green;
    border-radius: 25px;

  }
  .h{
    color: green;
    margin-top: -5%;
  }
  .logo h1{
    color: green;
    margin-bottom: 0%;
    font-size: 3vw;
    top:7%;

  }


.home{
  display: flex;
  background-image:url("/Image/wato2.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* width: 50%; */

  /* background-color: rgb(12, 12, 12);
  background-blend-mode: screen; */
  height: 100vh;
  min-height: 400px;
  opacity: 20%;
  background-size: 75%;
  /* background-attachment: fixed; */
  font-family: 'Roboto Slab', serif;
}

.heading{
  text-align: center;
  color: white;
}
 /* #home::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
   /* background: url('Snapchat-184099714_3.jpg'); */
  /* height: 900px;
  width:100px;
  z-index: -1;
  opacity: -8; */
/* } */

#title{
  color: green;
  top:35%;
}
.main{
  position:absolute;
  top: 39%;
  left: 37%;
  justify-content: center;
  font-size: 2.2vw;


}
.heading{
  text-align: center;
}

/* section about*/
.AB{
  text-align: center;
  color: white;
}
.part1{
  display: flex;
}
.photo1{
  width: 500px;
  height: 650px;
  top: 50%;
  border-radius:30% ;
  margin-top:20px ;
  margin-left: 6%;

}
.pa{
  top: 100px;
  text-align: left;
  margin: 150px;
  font-size: larger;
  color: white;
  margin-top:6% ;
}
.DC{
  color: white;
  text-align: center;
  top: 30%;
}
.line3{
  height: 1px;
  width: 100px;
  margin-left:36%;
  margin-top:-1%;
  color: green;
}
.line4{
  height: 1px;
  width: 100px;
  margin-left:57%;
  margin-top:-1%;
  color: green;
}
.pro{
  margin-left: 7%;
  top:100% ;
}
.container{
  padding-bottom: 90%;
}
